.*.swp
config.php
imports/gazette
imports/meet/meet.jsonl
imports/bill/bill-doc-parsed
imports/bill/bill-docgz
imports/bill/bill-html
imports/bill/tmp.doc
imports/bill/tmp.html
imports/bill/output.jsonl
imports/bill/output.jsonl.*
imports/interpellation/files
imports/ivod/current-id
imports/ivod/html
imports/ivod/ivod-gazette
imports/ivod/ivod-transcript
imports/meet/meet-proceeding-*
imports/law/law.pdf
imports/law/law.pdf.txt
